body
{
	background-image: url("file:///home/devshree/Desktop/jqueryFirst/assests/images/back.jpg");
    background-size: cover;
}
.form-back {
	background-color: rgba(0,0,128,0.2);
	width: 50%;
	margin: auto;
}
.h1-formate {
	color: var(--light);
	text-align: center;
	text-decoration: underline;
}

table {
	color: var(--light);
	visibility: hidden;
}
.buttons
{
	margin-top: 30px;
	margin-right: 30px;
	width: 200px;
	height: 30px;
    border-radius: 30px;
    background-color: rgb(0, 204, 153);
    font-style: bold;
    font-size: 20px;
}